---
layout: common
title: Comparisons
---

<div class="u-vbox bg-juliabox-blue" style="background-image: url(assets/img/JuliaDB_banner.svg)">
    <div class="u-vskip-2"></div>
    <div class="u-center u-cols-12 u-hbox u-items-center">
        <div class="u-cols-3">
            <a href="/" style="border: none">
            <img src="assets/img/logo-inv.svg" style="height: 96px; width:auto">
            </a>
        </div>
        <div class="u-pad u-cols-8 u-slab u-title-small text-white">
            Fast, first-class and flexible data analysis in Julia
        </div>
    </div>
    <div class="u-vskip-2"></div>
</div>

{{content}}

<div class="u-vbox bg-light-gray u-items-center">
    <div class="u-vskip-2"></div>
    <div class="u-hbox u-center u-items-center u-highlight-medium-small u-slab text-blue">
        <div>JuliaDB is a</div> <div class="u-hskip"></div> <a href="https://juliacomputing.com"><img src="https://juliacomputing.com/assets/img/new/julia-computing.svg" style="height: 48px; width: auto"></a> <div class="u-hskip"></div> <div>Project</div>
    </div>
    <div class="u-vskip-2"></div>
</div>
