---
layout: common
title: Comparisons
---

<div class="u-vbox bg-juliabox-blue" style="background-image: url(assets/img/JuliaDB_banner.svg)">
    <div class="u-vskip-2"></div>
    <div class="u-center u-cols-12 u-hbox u-items-center">
        <div class="u-cols-3">
            <a href="/" style="border: none">
            <img src="assets/img/logo-inv.svg" style="height: 96px; width:auto">
            </a>
        </div>
        <div class="u-pad u-cols-8 u-slab u-title-small text-white">
            Fast, first-class and flexible data analysis in Julia
        </div>
    </div>
    <div class="u-vskip-2"></div>
</div>

{{content}}
